---
import perceptDesktop from '../images/previous-projects/perceptpartpicker-desktop.jpg';
import perceptMob from '../images/previous-projects/perceptpartpicker-mobile.jpg';
import brunelDesktop from '../images/previous-projects/brunelhandparts-desktop.jpg';
import brunelMob from '../images/previous-projects/brunelhandparts-mobile.jpg';
import cftDesktop from '../images/previous-projects/cft2022-desktop.jpg';
import cftMobile from '../images/previous-projects/cft2022-mobile.jpg';
import Footer from '../components/Footer.astro';

// const featuresData = [
//   {
//     title: 'Zero JavaScript Runtime',
//     body: ' Astro renders HTML on the server and strips away any remaining, unused JavaScript.',
//   },
//   {
//     title: 'The Power of Islands',
//     body: ' Need interactive UI? Load individual, non-blocking component islands in parallel.',
//   },
//   {
//     title: 'Lazy-Loading Islands',
//     body: "Components only hydrate when they scroll into view. If you don't see it, Astro won't load it.",
//   },
// ];
---

<!-- Creations Section -->
<div class="flex flex-col features lg:h-screen gap-8">
  <section id="prev-projects" class="flex flex-grow items-center">
    <!-- Creations Container -->
    <div
      class="container flex-col max-w-6xl lg:mt-16 px-6 text-gray-900 md:px-0 relative"
    >
      <!-- Creations Header -->
      <div class="mb-2 lg:mb-12 md:justify-between p-6">
        <h2
          class="text-white text-2xl text-center uppercase md:text-left md:text-5xl tracking-widest leading-7 font-light"
        >
          previous Projects
        </h2>
      </div>

      <!-- Items Container -->
      <div class="item-container p-6 md:pb-24">
        <!-- Item 1 -->
        <div
          class="group item rounded-lg cursor-pointer"
          aria-label="Part Picker Page"
          onclick=""
        >
          <!-- Desktop Image -->

          <img
            src={perceptDesktop}
            alt="Percept Part Picker Image"
            class="hidden w-full duration-200 md:block group-hover:scale-110"
          />

          <!-- Mobile Image -->
          <img src={perceptMob} alt="" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>Percept Part Picker</h5>
        </div>

        <!-- Item 2 -->
        <div
          class="group item rounded-lg cursor-pointer"
          aria-label="3D Printed Prosthetic"
        >
          <!-- Desktop Image -->
          <img
            src={brunelDesktop}
            alt=""
            class="hidden w-full duration-200 md:block group-hover:scale-110"
          />
          <!-- Mobile Image -->
          <img src={brunelMob} alt="" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>3D Printed Prosthetic</h5>
        </div>

        <!-- Item 3 -->
        <div
          class="group item rounded-lg cursor-pointer"
          aria-label="Customer First Team British Airways"
        >
          <!-- Desktop Image -->
          <img
            src={cftDesktop}
            alt=""
            class="hidden w-full duration-200 md:block group-hover:scale-110"
          />
          <!-- Mobile Image -->
          <img src={cftMobile} alt="" class="w-full md:hidden" />
          <!-- Item Gradient -->
          <div class="item-gradient"></div>
          <!-- Item Text -->
          <h5>Customer First Team</h5>
        </div>
      </div>
      <!-- MVP Box -->
      <!-- <div class="relative flex w-full items-center justify-center p-6">
      <img
        src="/Images/MVP_Logo_Horizontal_Preferred_Cyan300_CMYK_72ppi.png"
        alt=""
        class="rounded-lg opacity-70"
      />
    </div> -->
    </div>
  </section>
  <Footer />
</div>
<!-- <section class="features showcase">
  <div class="container">
    {
      featuresData.map((feature) => (
        <Card>
          <h3>{feature.title}</h3>
          <p>{feature.body}</p>
        </Card>
      ))
    }
  </div>
</section> -->
<style>
  .features {
    background-color: rgba(3, 0, 41, 0.94);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get our element
    const element = document.querySelector('.features .container');

    // Define our scroll check function
    function checkScroll() {
      const rect = element.getBoundingClientRect();

      if (rect.top < window.innerHeight) {
        element.classList.add('animate__animated', 'animate__fadeIn');
      }
    }

    // Listen for scroll events
    window.addEventListener('scroll', checkScroll);

    // Run our scroll check function once to check initial position
    checkScroll();
  });
</script>
